<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>授業形態</title>
  </head>
  <body>
    <form name="f" action="/detail" method="POST" onsubmit="return check()">
      <hr width="600" align="center" color="orange" />
      <table width="500" border="0" align="center">
        <tr>
          <td align="center">
            <h2>2022年授業形態ウェブアンケート</h2>
          </td>
        </tr>
      </table>
      <hr width="600" align="center" color="orange" />
      <table width="500" border="0" align="center">
        <tr>
          <td width="100"><strong>名前</strong></td>
          <td>
            <input type="text" name="名前" value="" size="20" autofocus />
          </td>
        </tr>
        <tr>
          <td width="100"><strong>学部</strong></td>
          <td>
            <input type="text" name="学部" value="" size="20" />
          </td>
        </tr>
        <tr>
          <td width="100"><strong>学年</strong></td>
          <td>
            <input type="radio" name="学年" value="1年生" />1年生
            <input type="radio" name="学年" value="2年生" />2年生
            <input type="radio" name="学年" value="3年生" />3年生
            <input type="radio" name="学年" value="4年生" />4年生
          </td>
        </tr>
        <tr>
          <td width="150"><strong>望む形</strong></td>
          <td>
            <input type="radio" name="望む形" value="対面授業" />対面授業
            <input type="radio" name="望む形" value="非対面授業" />非対面授業
          </td>
        </tr>
        <tr>
          <td width="150"><strong>ワクチン接種</strong></td>
          <td>
            <input type="radio" name="ワクチン接種" value="完了" />完了
            <input type="radio" name="ワクチン接種" value="未完了" />未完了
          </td>
        </tr>
        <tr>
          <td width="150"><strong>ワクチン種類</strong></td>
          <td>
            <select name="ワクチン種類">
              <option value="ファイザ">ファイザ</option>
              <option value="モダナ">モダナ</option>
              <option value="アストラジェネカ">アストラジェネカ</option>
              <option value="ヤンセン">ヤンセン</option>
              <option value="その他">その他</option>
            </select>
          </td>
        </tr>
      </table>
      <hr width="600" align="center" color="orange" />
      <table width="500" border="0" align="center">
        <tr>
          <td align="center" colspan="2" width="400">
            <strong>選んだ授業形態の理由</strong>
          </td>
        </tr>
        <tr>
          <td>
            <textarea name="選んだ授業形態の理由" rows="20" cols="80"></textarea>
            <input type="submit" value="提出" />
            <input type="reset" value="書き換え" />
          </td>
        </tr>
      </table>
      <hr width="600" align="center" color="orange" />
    </form>
  </body>
</html>
