<!DOCTYPE html>
<html>
  <head>
    <title>Mainpage</title>
  </head>
  <body>
    <div style="text-align:center">
    <p style="font-size: 200%"><b>2022年授業形態ウェブアンケート</b></p>

    <p>アンケートに参加するためには<span style="font-weight: bold;"><U>ログイン</U></span>が必要です。</p>
    <p>
      <button type="button" onclick="location.href='/login'">ログイン</button>
    </p>
    <hr align="center" style="border:groove 5px blue; width:50%">
    <p>
      まだIDがない場合は<span style="font-weight: bold;"><U>会員登録</U></span>が必要です。
      <form action="/sign_up">
      <input type="submit" value="会員登録" />
      </form>
    </p>
    </div>
  </body>
</html>
